<div class="item-heart"
     data-tooltip-only-on-hover="1"
     data-favorite-calculation-parameter-id="a0d795f5c26920bdbd48b7a6cef45798"
     data-favorite-tariffversion-id="10652"
     data-favorite-tariffversion-variaton-key="base"
     data-favorite-is-promo-tariff=""
     data-favorite-promotion-type=""
     data-favorite-is-gold-grade=""
     data-favorite-contribution="17317">
    <div class="item-heart__heart-inactive" ng-if="$ctrl.active === false">
        <svg
            ng-click="$ctrl.click()"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            viewBox="0 0 110 100"
            xml:space="preserve">
            <path fill="#005ea8" d="M80.468,7C93.103,7,103,17.674,103,31.3c0,13.697-13.103,26.223-48,59.084
                C20.118,57.529,7,44.914,7,31.3C7,17.901,17.152,7,29.631,7c7.913,0,14.973,4.194,19.37,11.507C50.267,20.612,52.543,21.9,55,21.9
                s4.733-1.288,5.999-3.393C65.331,11.302,72.61,7,80.468,7 M80.468,0C69.766,0,60.351,6,55,14.9C49.649,6,40.532,0,29.631,0
                C13.279,0,0,14,0,31.3S14.766,62.1,55,100c40.234-37.9,55-51.3,55-68.7S97.018,0,80.468,0L80.468,0z"></path>
        </svg>
    </div>
    <div class="item-heart__heart-active" ng-if="$ctrl.active === true">
        <svg
            ng-click="$ctrl.click()"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            viewBox="0 0 110 100"
            xml:space="preserve">
            <path fill="#005ea8" d="M80.468,0C69.766,0,60.351,6,55,14.9C49.649,6,40.532,0,29.631,0C13.279,0,0,14,0,31.3
                S14.766,62.1,55,100c40.234-37.9,55-51.3,55-68.7S97.018,0,80.468,0z"></path>
        </svg>
    </div>
    <div class="c24-tooltip-content"><p>Tarif auf Merkzettel speichern</p></div>
</div>