<div class="app">
    <div favorite="">
        <favorite-wireframe-heart count="favorite.count"></favorite-wireframe-heart>
        <article
                favorite-item
                active="false"
                calculationParameterId="abcasdoifjaoisdjfoijasdof"
                tariffVersionId="517"
                tariffVersionVariationKey="base"
                is-promo-tariff="false"
                promotion-type="false"
                is-gold-grade="false"
                contribution="13773">
            <favorite-item-heart
                    active="favoriteItem.item.active"
                    on-click="favoriteItem.onHeartClick()">
            </favorite-item-heart>
        </article>
        <article
                favorite-item
                active="false"
                calculationParameterId="abcasdoifjaoisdjfoijasdof"
                tariffVersionId="513"
                tariffVersionVariationKey="base"
                is-promo-tariff="false"
                promotion-type="false"
                is-gold-grade="false"
                contribution="15773">
            <favorite-item-heart
                    active="favoriteItem.item.active"
                    on-click="favoriteItem.onHeartClick()">
            </favorite-item-heart>
        </article>
    </div>
</div>


